mat-dialog-content {
  max-height: 70vh;
  overflow-y: auto;

  @media (min-width: 1280px) {
    max-height: 80vh;
  }
}

fieldset {
  border: 1px solid var(--dark-300);
  margin-bottom: var(--gap-mini);
}
