/* You can add global styles to this file, and also import other style files */

:root {
  --dark: #101414;
  --dark-700: #272b2b;
  --dark-300: #878989;
  --gap: 20px;
  --gap-small: 10px;
  --gap-mini: 5px;
  --bold: 700;
  --text-color: #e0e3e2;
}

html, body { height: 100%;
  background: var(--dark, black);
  color: var(--text-color);
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.mat-mdc-dialog-container {
  background: var(--dark);
  border: 1px solid var(--text-color);
  border-radius: 5px;
}
