.desktop-table {
  display: none;

  @media (width >= 1280px) {
    display: initial;
  }
}

.mobile-table {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: 0 var(--gap-small) var(--gap);

  @media (width >= 1280px) {
    display: none;
  }

  .card {
    position: relative;
    padding: var(--gap-small);
    border: 1px solid var(--text-color);
    border-radius: 3px;
  }

  .row {
    &--label {
      font-weight: var(--bold);
    }
  }
}

.action-wrapper {
  padding: var(--gap) var(--gap-small);

  @media (width >= 1280px) {
    padding: var(--gap);
  }
}

.delete-button {
  &__mobile {
    position: absolute;
    top: 0;
    right: var(--gap-small);
  }
}
